*{
  margin: 0;
  
}


body{
  min-height: 100svh;
  margin: 0;
  padding: 0;
background-color: #141419;
display: flex;
flex-wrap: wrap;
justify-content: center;
align-content: center;
height: 100svh;

}

.red{
  border: red;
 
}
main{
  background-image: radial-gradient(circle at top center,#242A32,#232533);
  display: flex;
  margin: 0;
  color:white;
  font-size: small;
width: 275px;
height: 275px;
flex-direction: column;
justify-content: space-around;
flex-wrap: wrap;
overflow: hidden;
overflow-x: hidden;
border-radius: 20px;
padding: 20px;
}


.msg{
  display: flex;
line-height: 20px;
color: lightgray;

}

.star{
background-color: #282d3c;
display: inline-block;
padding: 8px;
padding-left: 10px;
padding-right: 10px;
border-radius: 50px;
margin-bottom: 25px;



}
button{
  border: none;
  color: white;
  border-radius: 50px;
  width: 40px;
  height: 40px;
  font-size: 12px;
background-color: #272d39;
transition: 0.2s;
}

button:hover{
background-color: gray;
cursor: pointer;
}

button:active{
background-color: #fb7400;

}

.buttons{
display: flex;
justify-content: space-around;
border-radius: 20px;

}

#submit{

  display: flex;
  width: 100%;
  align-items:center ;
  justify-content: center;
  background-color: #fb7400;
  font-size: small;
  color: white;
  border: none;
  height: 30px;
  border-radius: 20px;
  transition: 0.6s;


}

#submit:active{
color: #fb7400;
background-color: white;


}

.invisible{
visibility: hidden;

}
.visible{
  display: none;
}
.box-body{
display: flex;
flex-direction: column;
gap: 20px;
}

#box-2{
display: flex;
justify-content: center;  
align-items: center;
justify-content: space-between;
height: 100vh;


}
.box-body2{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  }

  .box-body2 p{
text-align: center;
font-size: 15px;
color: rgb(135, 135, 135);
line-height: 20px;

  }

  #selection-msg{
padding: 5px;
border-radius: 10px;
background-color:#2C333C;
color: #fb7400;

  }